---
import Layout from "../layouts/Layout.astro";
import ScrambledText from "../components/ScrambledText.astro";
import Button from "../components/Button.astro";
---

<Layout
  title="Ciclo ASIR"
  description="Portal Web sobre ASIR en el que podrás encontrar todo el contenido que desees."
>
  <ScrambledText title="El sitio web donde puedes" />

  <section class="course-buttons">
    <h3 class="buttons-title">Explorar contenido:</h3>
    <Button href="cursos/primero">Primero</Button>
    <Button href="cursos/segundo">Segundo</Button>
  </section>

  <style>
    .course-buttons{
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }

    .button-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 600px;
      justify-content: center;
      gap: 15px;
      flex-direction: row;
    }

    .buttons-title{
      font-weight: 100;
    }
  </style>
</Layout>
