---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import ScrambledText from "../components/ScrambledText.astro";
import Button from "../components/Button.astro";
import PageFooter from "../components/PageFooter.astro";

import DatabaseIcon from "../icons/Database.astro";
import RedesIcon from "../icons/Redes.astro";
import CodeIcon from "../icons/Code.astro";
import SystemIcon from "../icons/Sistemas.astro";
import HardwareIcon from "../icons/Hardware.astro";
import SecurityIcon from "../icons/Seguridad.astro";
---

<Layout
  title="Ciclo ASIR"
  description="Portal Web sobre ASIR en el que podrás encontrar todo el contenido que desees."
>
  <PageHeader />
  <ScrambledText title="El sitio web donde puedes" />

  <section class="course-buttons">
    <h3 class="buttons-title">Explorar contenido:</h3>
    <Button>Primero</Button>
    <Button>Segundo</Button>
  </section>

  <section class="subjects">
    <h3 class="buttons-title">Explorar por asignaturas:</h3>
    <div class="button-wrapper">
      <Button>
        <DatabaseIcon />
        Bases de datos
      </Button>

      <Button>
        <RedesIcon />
        Redes
      </Button>

      <Button>
        <CodeIcon />
        LM/IAW
      </Button>

      <Button>
        <SystemIcon />
        Sistemas
      </Button>

      <Button>
        <HardwareIcon />
        Hardware
      </Button>

      <Button>
        <SecurityIcon />
        Seguridad
      </Button>
    </div>
    <PageFooter />
  </section>

  <style>
    .course-buttons,
    .subjects {
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }

    .button-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 30%;
      justify-content: center;
      gap: 15px;
      flex-direction: row;
    }

    .buttons-title,
    .subjects-title {
      font-weight: 100;
    }
  </style>
</Layout>
