---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import ScrambledText from "../components/ScrambledText.astro"


---

<Layout
  title="Ciclo ASIR"
  description="Portal Web sobre ASIR en el que podrás encontrar todo el contenido que desees."
>
  <PageHeader />
  <ScrambledText title="El sitio web donde puedes" words={["aprender", "colaborar"]}/>

  <section class="course-buttons">
    <h3 class="buttons-title">Explorar contenido:</h3>
    <button class="course-button">1º - Primero</button>
    <button class="course-button">2º - Segundo</button>
  </section>

</Layout>

<style>
  .course-buttons{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .buttons-title{
    font-weight: 100;
  }
  .course-button{
    width: 300px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;

    transition: scale 0.1s ease-in-out, border 0.1s ease-in-out, background-color 0.1s ease-in-out;
  }
  .course-button:hover{
    scale: 110%;
    background-color: var(--accent-background-color);
    border-color: var(--accent-color);
  }

</style>