<header class="page-header">
  <a href="/" class="header-title tilt-animation" title="Boton de Inicio">Ciclo ASIR</a>
</header>

<style>
  .page-header {
    display: flex;
    justify-content: center;
    font-family: var(--techno-font);
    margin: 50px 0;
  }

  .header-title {
    position: relative;
    user-select: none;
    font-size: 3rem;
    font-weight: 900;
    text-decoration: none;
  }
</style>
