---
import { Subject } from "astro:db";
import { db, like } from "astro:db";

import SelectFilesBySubject from "./SelectFilesBySubject.astro"

interface Props {
    course: string;
  }
  const { course } = Astro.props;

const subjects = await db.select().from(Subject).where(
    like(Subject.courseName, `${course}`)
);

---
{
    subjects.map(({ id, fullName }) => (
        <h1>{fullName}</h1>
        <SelectFilesBySubject subject=`${id}`/>
    ))
}
<style>
    h1{
        font-weight: 100;
    }
</style>
