---
import { db, File, like } from "astro:db";

interface Props {
    path: string;
    className?: string;
  }
  const { path, className } = Astro.props;

const files = await db.select().from(File).where(
    like(File.path, `${path}`)
);
---
{
    files.map(({ path, resume}) => (
        <a target="_blank" class={className} href={path}>{resume}</a>
    ))
}
