---
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />



		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">


		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--dark-background: linear-gradient(to bottom right, #34363c, #090d0f);
		--techno-font: "Kode Mono", monospace;
		--accent-color: #09ff00;
		--accent-background-color: #09ff002a;
	}
	*{
		color-scheme: dark;
	}
	html {
		min-height: 100vh;
		font-family: system-ui, sans-serif;
		background-image: var(--dark-background);
		cursor: crosshair;
	}
</style>
